body {
    background-color: transparent; /* Fully transparent background */
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    flex-grow: 1;
    min-width: 300px; /* Minimum width of each graph */
    height: 100vh; /* Fixed height, adjust as needed */
    max-width: 100%;
}

#graphsContainer {
    min-height: 90vh;
    max-height: 90vh;
}

.graph-container {
    flex: 1 1 calc(50% - 20px); /* 50% width minus gap */
    min-width: 400px;
    min-height: 400px;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #f8f9fa;
    border-right: 1px solid #ddd;
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto; /* Scroll within the toolbar if needed */
}

.toolbar.hidden {
    transform: translateX(-100%);
}

.toolbar-content {
    padding: 20px;
}

.settings-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.settings-button.move {
    transform: translateX(250px);
}

.play-pause-button {
    position: fixed;
    top: 80px;
    left: 20px;
    z-index: 1001;
    transition: transform 0.3s ease;
}

.play-pause-button.move {
    transform: translateX(250px);
}

.slider-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f8f9fa;
    padding: 20px; /* Increase padding for more space around the slider */
    border-top: 1px solid #ddd;
    z-index: 1001;
}

#timeSlider {
    width: calc(100% - 40px);
    height: 50px; /* Increase height for easier interaction */
    border-radius: 10px;
    background-color: #e0e0e0;
    outline: none;
    cursor: pointer;
}
